spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: movie-catalog-service
          uri: lb://movie-catalog-service
          predicates:
            - Path=/movie-info/**

        - id: movie-streaming-service
          uri: lb://movie-streaming-service
          predicates:
            - Path=/stream/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG