server:
  port: 8090

spring:
  application:
    name: movie-catalog-service

  datasource:
#    url: jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?sslmode=require
#    username: postgres.fqwxoiibrusuzvukshjb
#    password: KXhx3r7zESwg42HW
#    driver-class-name: org.postgresql.Driver
      url: jdbc:postgresql://aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?sslmode=require&prepareThreshold=0
      username: postgres.tdsadxooibwwyitivxor
      password: YWAc43RebBMGdyXG
      driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka